<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-list>
      <mat-list-item>
        <h2 mat-line>Name</h2>
        <p mat-line>{{body?.name}}</p>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list >
      <mat-list-item>
        <h2 mat-line>Description</h2>
        <p mat-line>{{body?.description}}</p>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list fxLayout="row">
      <mat-list-item>
        <h2 mat-line>Required Trophies</h2>
        <p mat-line>{{body?.requiredTrophies}}</p>
      </mat-list-item>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-list-item>
        <h2 mat-line>Donations per Week</h2>
        <p mat-line>{{body?.donationsPerWeek}}</p>
      </mat-list-item>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-list-item>
        <h2 mat-line>Clan Score</h2>
        <p mat-line>{{body?.clanScore}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
